@use '../abstracts/variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    height: 100%; 
}

body {
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    background-color: $color-bg-main;
    color: $color-text;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    display: block;
}
