$color-primary: hsl(172, 67%, 45%);
$color-bg-main: hsl(185, 41%, 84%);
$color-text-secondary: hsl(186, 14%, 43%);
$color-surface-dark: hsl(183, 100%, 15%);
$color-surface-light: hsl(189, 47%, 97%);
$color-button-hover: hsl(173, 61%, 77%);
$color-muted: hsl(184, 14%, 56%);
$color-error: hsl(13, 59%, 59%);
$color-text: hsl(0, 100%, 100%);